/* Category */
.category__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category__item {
    width: 15%;
    background-color: orange;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 20px;
    cursor: pointer;
}

/* End Category */


/* Products */
.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product__item {
    width: 27%;
    border-radius: 5px;
    margin-bottom: 35px;
    padding: 20px;
    border: 1px solid #ddd;
    font-size: 20px;
    position: relative;
}

.product__image {
    width: 100%;
    aspect-ratio: 4/3;
}

.product__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.product__discount {
    background-color: orange;
    display: inline;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.product__meta {
    display: flex;
}

.product__price {
    color: red;
    font-size: 27px;
    font-weight: bold;
}

.product__stock {
    position: absolute;
    right: 20px;
}
/* End Products */

/* Search */
.search {
    padding: 15px 40px;
}

.search input {
    border-radius: 5px;
    height: 30px;
    border: #ddd 1px solid;
    min-width: 400px;
    outline: none;
}

.search button {
    border-radius: 5px;
    height: 30px;
    border: #ddd 1px solid;
    cursor: pointer;
}
/* End Search */

/* Filter */
.filter {
    border-radius: 5px;
    border: #ddd 1px solid;
    height: 30px;
    min-width: 200px;
    margin-left: 40px;
    margin-bottom: 20px;
    outline: none;
}
/* End Filter */


/* Pagination */
.pagination {
    margin-left: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.pagination__button {
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
}

.pagination--number {
    padding: 10px;
    font-size: 20px;
}
/* End Pagination  */
